* {
    font-family: "Hind", "Rubik", Arial, Verdana;
    /* remove default margins and padding */
    margin: 0;
    padding: 0;
    /* overscroll-behavior: none; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    /* box-sizing: border-box; */
}

/* Hide scrollbars */
body::-webkit-scrollbar {
    /* Hide all except FF IE */
    display: none;
}
body {
    /* IE hide */
    -ms-overflow-style: none;
}
html { 
    /* Firefox hide */
    scrollbar-width: none;
}
/* stop scrolling method, paired with js */
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}


/* navbar */
#navbar {
    /* background: rgb(255, 110, 199, 0.411); */
    background: rgba(0, 0, 0, 1);
    width: 100%;
    font-size: 2.5vh;
    font-weight: bold;
    /* display: none; */

}
#navbar ul {
    margin: auto;
    padding: 0;
    /* height: 100%; */
    /* max-width: 70%; */
    display: flex;
    text-align: center;
}
#navbar a {
    color: rgb(231, 218, 218);
    display: block;
    text-decoration: none;
}

.menu-li {
    width: 100%;
    height: 100%;
    list-style-type:none;
    /* padding: 1vh 2vh; */
}
.menu-li:hover {
    background-color: rgba(255, 144, 227, 0.76);
}
#menu-button {
    /* hide menu-button default behavior (gray hamb box) */
    font-weight: bold;
    display: none;
}
@media only screen and (max-width: 900px){ /* 900px */
    /* Navbar */
    #navbar {
        font-size: 3vh;
        /* background: rgb(255, 110, 199, 0.411); */
    }
    #navbar ul {
        display: block;
    }
    .menu-li {
        width: 100%;
        margin: 0;
        display: none;
        padding: 5vh 0;
    }
    #nav-bar a {
        display: block;
    }
    #menu-button {
        display: block;
        min-width: 55px;
        min-height: 55px;
        background-color: #ae9bda;
        border: none;
        outline: none;
        cursor: pointer;
        /*put button to left*/
        /* align-self: flex-start;  */
    }
}